:root, body {
    background-color: #212326;
    color: #fff;
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    --name-width: 180px;
}

span.spacer20 {
    width: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

header {
    background-image: linear-gradient(45deg, #277cb3, #b32773);
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    width: calc(100vw - 30px);
    padding: 0 15px;
    position: fixed;
}

header > h2 {
    width: var(--name-width);
}

header > div {
    width: calc(100vw - 210px);
    justify-content: end;
}

header > div > ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

header > div > ul > li {
    list-style: none;
    padding: 0 10px;
}

div#container {
    margin-top: 85px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.content {
    background-image: linear-gradient(45deg, #277cb3, #b32773);
    padding: 4px;
    border-radius: 8px;
    margin: 10px 0;
}

div.content2 {
    display: flex;
    flex-direction: row;
    width: 1032px;
    max-width: 85vw;
}

div.content2 > div {
    height: max-content;
    padding: 4px;
    border-radius: 8px;
    background-image: linear-gradient(45deg, #6D5293, #b32773);
}

div.content2 > div:first-child {
    background-image: linear-gradient(45deg, #277cb3, #6D5293);
}

div.content2 > div > p {
    width: 479px;
    height: max-content;
}

p {
    background-color: #212326;
    border-radius: 4px;
    padding: 12px;
    width: 1000px;
    max-width: 85vw;
    margin: 0;
}