:root, body {
    background-color: #212326;
    color: #fff;
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    --name-width: 180px;
}

header {
    background-color: #277cb3;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    width: calc(100vw - 30px);
    padding: 0 15px;
    position: fixed;
}
header > h2 {
    width: var(--name-width);
}

header > div {
    width: calc(100vw - 210px);
    justify-content: end;
}

header > div > ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

header > div > ul > li {
    list-style: none;
    padding: 0 10px;
}

div#container {
    margin-top: 75px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

p {
    border: 3px #277cb3 solid;
    border-radius: 8px;
    margin-left: 12px;
    padding: 7px;
    width: 800px;
    max-width: 85vw;
}